<app-navbar></app-navbar>
<section class="assign-block">

    <div class="container">
        <div class="box mb-8 justify-content-center" style="position: sticky;height:30%;width:50%;">
            <h1 style="text-indent: 25%;">Assign Executives!</h1>
        </div>
        <div class="row my-4">
            <div class="col-md-6" *ngFor="let i of notassigned|keyvalue;let ind=index;">

                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 postion-relative">
                    <div class="box col p-4 d-flex flex-column position-static">
                        <h3 class="my-2">Medicine Name: {{ i.value[0] }}</h3>
                        <h3 class="my-2">Name: {{ i.value[1].username }}</h3>
                        <h3 class="my-2">Email ID: {{ i.value[1].email }}</h3>
                        <h3 class="my-2">Address: {{ i.value[1].address}}</h3>
                        <h3 class="my-2">Contact Number: {{ i.value[1].phnum }}</h3>
                        <select class="form-control" [(ngModel)]="selected[ind]"
                         name="utype" #utype="ngModel">
                            <option value="default">----</option>
                            <option *ngFor="let e of exe " value="{{e.id}}">
                                {{e.username}}
                            </option>
                        </select>
                        <button class="col-6 btn btn-primary" 
                        (click)="assign(i.key,utype.value);"
                        >
                        Assign
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>