nav{
    background-color:rgb(6, 0, 6);
    border: white;
    opacity: .5;
    font-size:large;
}
.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul{
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
a :hover {
    background-color:rgb(53, 4, 99);
    color: white;
    border-radius: 5px;

}
li {
		display: inline;
	}