<app-navbar></app-navbar>
<section class="cp-block">
    <div class="container mt-5 ">
        <div class="row mt-8 justify-content-center">
            <div class="col-15 mt-5 ml-100">
                <h1 style="text-indent: 40%;">Change Password!</h1>
                <div class="image col-6 ">
                    <img src="https://img.freepik.com/free-vector/people-donate-money-bring-coins-hearts-donation-box-concept-charity-community-assistance-volunteering-vector-flat-illustration-volunteer-characters-abstract-cosmos-background_107791-11744.jpg?w=1380&t=st=1658250945~exp=1658251545~hmac=f3c92c6801f8bc8d7066fc8135e0e4e2efe177580b2f991d23fe528e2c5a177c"
                        alt="medicine" width="90%" height="80%">
                </div>
                <form class="col-5" 
                (ngSubmit)="changepassword()"
                 #cpform="ngForm">
                    <div class="mb-3">
                        <label class="form-label">New Password: </label>
                        <input 
                        type="password" class="form-control" autocomplete="off" name="newpassword"
                            [(ngModel)]="newpass" #newpassword="ngModel" required/>
                        <div class="form-text text-danger" *ngIf="newpassword.invalid">
                            This is a required field.</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Confirm Password: </label>
                        <input 
                        type="password" class="form-control" autocomplete="off" name="confirmpassword"
                            [(ngModel)]="confirmpass" #confirmpassword="ngModel"
                            minlength="5" pattern="{{newpassword.value}}" required/>
                        
                        <div class="form-text text-danger" *ngIf="confirmpassword.invalid">
                            This is a required field.</div>
                    
                    <div class="form-text text-danger" *ngIf="newpassword.value!=confirmpassword.value">
                        Confirm Password must be equal to New Password!</div>
                    </div>
                    <div class="form-group">
                        <p class="text-danger" [innerText]="this.errormessage"></p>
                    </div>
                    <button type="submit" class="w-100 btn btn-primary"
                    [disabled]="newpass!=confirmpass">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</section>