.user-block{
    padding-top: 20px;
    padding-bottom: 200px;
}
.box{
    width: 100%;
    margin:auto;
    background-color:black;
    border: white;
    color: white;
    opacity: .5;
    padding-bottom: 100px;
    padding-top: 50px;
}

button{
    background-image: linear-gradient(to right top, #37052e, #4e0050, #5c007b, #5800af, #1212eb);
}
img{
    padding-top: 10%;
    float: right;

}