<app-navbar></app-navbar>
<section class="ngo-block">
<div class="container mt-5 ">
    <div class="row mt-8 justify-content-center">
      <div class="col-15 mt-5 ml-100">
        <h1 style="text-indent: 40%;">Add NGO!</h1>
        <div class="image col-6 ">
            <img  
            src="https://img.freepik.com/free-vector/people-donate-money-bring-coins-hearts-donation-box-concept-charity-community-assistance-volunteering-vector-flat-illustration-volunteer-characters-abstract-cosmos-background_107791-11744.jpg?w=1380&t=st=1658250945~exp=1658251545~hmac=f3c92c6801f8bc8d7066fc8135e0e4e2efe177580b2f991d23fe528e2c5a177c"
             alt="medicine"
             width="90%"
             height="80%"
             >
        </div>
        <form class="col-5"
          (ngSubmit)="ngoForm.valid && addNgo()"
          #ngoForm="ngForm"
        >
          <div class="mb-3">
            <label class="form-label">NGO Name: </label>
            <input
              type="text"
              class="form-control"
              autocomplete="off"
              name="username"
              [(ngModel)]="auth.username"
              #username="ngModel"
              required
              min="5"
            />
            <div class="form-text text-danger" *ngIf="username.invalid">
              Minimum Length Must be 5.
            </div>
            <div class="form-text text-danger" *ngIf="usernames.indexOf(username.value)!=-1">
                User Name Already Present.
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Email Id: </label>
            <input
              type="email"
              class="form-control"
              autocomplete="off"
              name="email"
              [(ngModel)]="auth.email"
              #email="ngModel"
              pattern="^(.+)@(.+)$"
            />
            <div class="form-text text-danger" *ngIf="email.invalid">
              Enter Valid Email.
            </div>
            <div class="form-text text-danger" *ngIf="emails.indexOf(email.value)!=-1">
                Email is already a User.
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Address: </label>
            <input
              type="text"
              class="form-control"
              autocomplete="off"
              name="address"
              [(ngModel)]="auth.address"
              #address="ngModel"
              maxlength="200"
            />
            <div class="form-text text-danger" *ngIf="address.invalid">
              Maximum Allowed 200 Character.
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Phone Number: </label>
            <input
              type="tel"
              class="form-control"
              autocomplete="off"
              name="phnum"
              [(ngModel)]="auth.phnum"
              #phnum="ngModel"
              maxlength="10"
            />
            <div class="form-text text-danger" *ngIf="phnum.invalid">
              Enter Valid Phone Number.
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Password: </label>
            <input
              type="password"
              class="form-control"
              autocomplete="off"
              name="password"
              [(ngModel)]="auth.password"
              #password="ngModel"
              required
              min="5"
            />
            <div class="form-text text-danger" *ngIf="password.invalid">
              Minimum Required 5 Characters.
            </div>
          </div>
          <button
            type="submit"
            class="w-100 btn btn-primary"
            [disabled]="ngoForm.invalid"
          >
            Add NGO
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
