<app-navbar></app-navbar>
<section class="add-post-block">
<div class="container mt-5 ">
    <div class="row mt-8 justify-content-center">
      <div class="col-15 mt-5 ml-100">
        <h1 style="text-indent: 40%;">Add Medicine!</h1>
        <div class="image col-6 ">
            <img  
            src="https://img.freepik.com/free-vector/people-donate-money-bring-coins-hearts-donation-box-concept-charity-community-assistance-volunteering-vector-flat-illustration-volunteer-characters-abstract-cosmos-background_107791-11744.jpg?w=1380&t=st=1658250945~exp=1658251545~hmac=f3c92c6801f8bc8d7066fc8135e0e4e2efe177580b2f991d23fe528e2c5a177c"
             alt="medicine"
             width="90%"
             height="80%"
             >
        </div>
        <form class="col-5"
          (ngSubmit)="medform.valid && addPost()"
          #medform="ngForm"
        >
          <div class="mb-3">
            <label class="form-label">Medicine Name: </label>
            <input
              type="text"
              class="form-control"
              autocomplete="off"
              name="title"
              [(ngModel)]="post.title"
              #title="ngModel"
              required
              
            />
            <div class="form-text text-danger" *ngIf="title.invalid">
              It is a Required Field
            </div>
            <div class="form-text text-danger" *ngIf="titles.indexOf(title.value)!=-1">
                Medicine Already Present.
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Image URL: </label>
            <input
              type="text"
              class="form-control"
              autocomplete="off"
              name="image"
              [(ngModel)]="post.image"
              #image="ngModel"
              required
            />
            <div class="form-text text-danger" *ngIf="image.invalid">
              This is a Required Feild.
            </div>
            
          </div>
          <div class="mb-3">
            <label class="form-label">Manufacture Date: </label>
            <input
              type="text"
             
              class="form-control"
              autocomplete="off"
              name="mfd_date"
              [(ngModel)]="post.mfd_Date"
              #mfd_date="ngModel"
              required
            />
            <div class="form-text text-danger" *ngIf="mfd_date.invalid">
                This is a Required Field.
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Expiry Date: </label>
            <input
              type="text"
              
              class="form-control"
              autocomplete="off"
              name="exp_date"
              [(ngModel)]="post.exp_Date"
              #exp_date="ngModel"
              required
            />
            <div class="form-text text-danger" *ngIf="exp_date.invalid">
                This is a Required Field.
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Quantity: </label>
            <input
              type="number"
              class="form-control"
              autocomplete="off"
              name="quantity"
              [(ngModel)]="post.quantity"
              #quantity="ngModel"
              required
              min="1"
            />
            <div class="form-text text-danger" *ngIf="quantity.invalid">
              This is a Required Field
            </div>
          </div>
          
          <button
            type="submit"
            class="w-100 btn btn-primary"
            [disabled]="medform.invalid"
          >
            Add Medicine
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
