<app-navbar></app-navbar>
<section class="View-order-block">
<div class="container">
  <div class="row my-4">
    <div class="col-md-6" *ngFor="let i of notdonate|keyvalue">
       
      <div
        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 postion-relative"
      >
        <div class="box col p-4 d-flex flex-column position-static">
          <img id="{{i.value.id}}" 
          src="{{ i.value.image }}" class="img-fluid" alt="{{i.value.title}}" />
          <h3 class="my-2">{{ i.value.title }}</h3>
          <h3 class="my-2">Manufacture Date: {{ i.value.mfd_Date }}</h3>
          <h3 class="my-2">Expiry Date: {{ i.value.exp_Date}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

