<app-navbar></app-navbar>
<section class="userdetails-block">
    <div class="container mt-5 ">
        <div class="row mt-8 justify-content-center">
            <div class="col-15 mt-5 ml-100">
                <h1 style="text-indent: 40%;">{{ auth.username }}</h1>
                <div class="image col-6 ">
                    <img src="https://assets.barcats.com/static/images/img/fallback-job/front_job.png"
                        alt="User" width="50%">
                
                </div>
                <div class="user-details col-6 ">
                <h3 class="my-2 mb-2">Email ID: {{ auth.email }}</h3>
                <h3 class="my-2 mb-2">Address: {{ auth.address}}</h3>
                <h3 class="my-2 mb-2">Contact Number: {{ auth.phnum }}</h3>
                <h3 class="my-2 mb-2">User Type: {{ auth.usertype }}</h3>
            </div>
            </div>
        </div>
    </div>
</section>