<app-navbar></app-navbar>
<section class="login-block">
<div class="container mt-5 ">
    <div class="row mt-8 justify-content-center">
      <div class="col-15 mt-5 ml-100">
        <h1 style="text-indent: 40%;">Sign In !</h1>
        <div class="image col-6 ">
            <img  
            src="https://img.freepik.com/free-vector/people-donate-money-bring-coins-hearts-donation-box-concept-charity-community-assistance-volunteering-vector-flat-illustration-volunteer-characters-abstract-cosmos-background_107791-11744.jpg?w=1380&t=st=1658250945~exp=1658251545~hmac=f3c92c6801f8bc8d7066fc8135e0e4e2efe177580b2f991d23fe528e2c5a177c"
             alt="medicine"
             width="90%"
             height="80%"
             >
        </div>
        <form class="col-5" 
        (ngSubmit)="login()">
          <div class="mb-3">
            <label class="form-label">UserName: </label>
            <input
              type="text"
              class="form-control"
              autocomplete="off"
              name="username"
              [(ngModel)]="auth.username"
              #username="ngModel"
              minlength="5"
            />
            <div class="form-text text-danger" *ngIf="username.invalid">
            This is a required field.</div>
          </div>
          <div class="mb-3">
            <label class="form-label">Password: </label>
            <input
              type="password"
              class="form-control"
              autocomplete="off"
              name="password"
              [(ngModel)]="auth.password"
              #password="ngModel"
              minlength="5"
            />
            <div class="form-text text-danger" *ngIf="password.invalid">
                This is a required field.</div>
          </div>
          <div class="mb-3">
            <p>User Type: </p>
            <input id="user" type="radio" value="user" name="usertype">
                <label for="user">User</label><br>
            <input id="admin" type="radio" value="admin" name="usertype">
                <label for="Admin">Admin</label><br>
            <input id="ngo" type="radio" value="ngo" name="usertype">
                <label for="ngo">Ngo</label><br>
            <input id="executive" type="radio" value="executive" name="usertype">
                <label for="executive">Executive</label><br><br>
            </div>
          <p class="my-2">
            Dont't Have An Account? Click <a href="/register">Here To Register</a>
          </p>
          <div class="form-group">
            <p class="text-danger" [innerText]="this.errorMessage"></p>
          </div>
          <button type="submit" class="w-100 btn btn-primary"
          >Sign In</button>
        </form>
      </div>
    </div>
  </div>
</section>